{{#extend "lib/loggedin" hideSearch="true"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/clipboard/clipboard.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/webpacked/vendor-react.js" defer></script>
        <script src="/webpacked/vendor-material-ui.js" defer></script>
        <script src="/webpacked/clipboard.js" defer></script>
    {{/content}}

   {{#content "page"}} 
        <div 
            id="clipboard-app" 
            class="clipboard-app"
            data-backend-url="{{ backendUrl }}"
            data-course-id="{{ courseId }}">
        </div>
    {{/content}}

{{/extend}}
