{{#extend "lib/loggedin" hideSearch="true"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/clipboard/clipboard.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/vendor-react.js" defer></script>
        <script src="/scripts/clipboard/index.js" defer></script>
        <script src="/scripts/socket.js" type="text/javascript" defer></script>
    {{/content}}

   {{#content "page"}} 
            <div 
                id="clipboard-app" 
                class="clipboard-app"
                data-backend-url="{{ backendUrl }}"
                data-course-id="{{ courseId }}">
            </div>
    {{/content}}

{{/extend}}
