.clipboard-app {
    background-color: #EEE;
    width: 100%;
    min-height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;

    .Resizer {
        background: #000;
        opacity: .2;
        z-index: 1;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -moz-background-clip: padding;
        -webkit-background-clip: padding;
        background-clip: padding-box;
    }

     .Resizer:hover {
        -webkit-transition: all 2s ease;
        transition: all 2s ease;
    }

     .Resizer.horizontal {
        height: 11px;
        margin: -5px 0;
        border-top: 5px solid rgba(255, 255, 255, 0);
        border-bottom: 5px solid rgba(255, 255, 255, 0);
        cursor: row-resize;
        width: 100%;
    }

    .Resizer.horizontal:hover {
        border-top: 5px solid rgba(0, 0, 0, 0.5);
        border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    }

    .Resizer.vertical {
        width: 11px;
        margin: 0 -5px;
        border-left: 5px solid rgba(255, 255, 255, 0);
        border-right: 5px solid rgba(255, 255, 255, 0);
        cursor: col-resize;
    }

    .Resizer.vertical:hover {
        border-left: 5px solid rgba(0, 0, 0, 0.5);
        border-right: 5px solid rgba(0, 0, 0, 0.5);
    }
    .Resizer.disabled {
      cursor: not-allowed;
    }
    .Resizer.disabled:hover {
      border-color: transparent;
    }

    .app-bar {
        background-color: $primaryColor;
    }
}

.clipboard-row {
    flex:1;
    display: flex;
    flex-direction: row;   
}

.clipboard {
    background: #FFF url(/images/clipboard/background.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    flex: 1;
    display: flex;

    .clipboard-media {
        flex: 1;
        display: flex;
        justify-content: center;
        overflow: hidden!important;
    }

    .clipboard-image {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        position: sticky;
        top: 0;
        bottom: 0;
        z-index: 2;
    }

    .clipboard-transition-enter {
        opacity: 0.01;
      }
      
    .clipboard-transition-enter.clipboard-transition-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
    
    .clipboard-transition-leave {
        opacity: 1;
        z-index: 1;
    }
    
    .clipboard-transition-leave.clipboard-transition-leave-active {
        opacity: 0.1;
        transition: opacity 500ms;
        transition-delay: 500ms;
    }

    .clipboard-transition-container {
        position: relative;
        width: 100%;
        text-align: center;
    }
}

.dropzone {
    background-color: $secondaryColor;
    color: white;
    width: 100px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
}

.dropping {
    background-color: $accentColor;
    border: dotted 2px;
}

.media-row {
    background-color: $primaryColor;
    position: absolute !important;
    width: 100%;
    height: 100%;
    overflow-y: 'scroll';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.media-container{
    position: relative;
    margin: 5px;
    overflow: hidden;
    height: 100px;
    width: 150px;
}

.media-picture{
    margin: 0;
    object-fit: cover;
    height:100%;
    width:100%;
}

.media-sender{
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    padding: 5px;
    color: white;
    background-color: rgba(0,0,0,0.8);
    bottom: 0;
}

.drop-thumbnail {
    @extend .media-container;
    vertical-align: middle;
    border: dotted 2px;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    color: white;

    .icon {
        white-space: pre-line;
        display: block;
    }
}
